body {
  margin: 0;
}
/* golbal sectioln */
.global {
  display: flex;
  background: rgb(186, 85, 85);
}

.logo {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}
/* hearder section */

header {
  background: blue;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  gap: 0.5rem;
}

header ul li {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

header ul li:hover {
  background: red;
  transform: scale(1.5);
}

/* footer */

footer {
  background: black;
}
