body {
  margin: 0;
}
/* golbal sectioln */
.global {
  display: flex;
  background: rgb(186, 85, 85);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* hearder section */

header {
  background: blue;
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-between;
}

/* footer */

footer {
  background: black;
}
